// Headings
.imob-heading-display {
  @include normalize;
  @include heading-display;
}

.imob-heading-x-large {
  @include normalize;
  @include heading-x-large;
}

.imob-heading-large {
  @include normalize;
  @include heading-large;
}

.imob-heading-medium {
  @include normalize;
  @include heading-medium
}

.imob-heading-small {
  @include normalize;
  @include heading-small;
}