html {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  /* 2 */
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--imob-color-layout-background-default);
}

[data-imob-theme=dark],
.imob-dark,
[data-imob-theme=light],
.imob-light {
  background-color: var(--imob-color-layout-background-default);
}

body:has(.imob-dialog[open]) {
  overflow: hidden;
}

*:not(i) {
  font-family: var(--imob-typography-font-family-default);
}

area[href]:not([tabindex="-1"]):focus,
iframe:not([tabindex="-1"]):focus,
[tabindex]:not([tabindex="-1"]):focus,
[contentEditable=true]:not([tabindex="-1"]):focus {
  border-radius: var(--imob-metric-border-radius-default, 0.25rem);
  box-shadow: 0 0 0 2px var(--imob-color-action-on-default), 0 0 0 4px var(--imob-color-action-focus-border-inside), 0 0 0 6px var(--imob-color-action-focus-border-outside);
}
area[href]:not([tabindex="-1"]):focus:focus-visible,
iframe:not([tabindex="-1"]):focus:focus-visible,
[tabindex]:not([tabindex="-1"]):focus:focus-visible,
[contentEditable=true]:not([tabindex="-1"]):focus:focus-visible {
  outline: 0;
}

.imob-sr-only {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.imob-sr-only:not(caption) {
  position: absolute !important;
}
.imob-sr-only-mobile {
  display: inline;
}
@media (max-width: 767px) {
  .imob-sr-only-mobile {
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }
  .imob-sr-only-mobile:not(caption) {
    position: absolute !important;
  }
}

.imob-error {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  display: flex;
  gap: var(--imob-metric-space-small, 8px);
  align-items: flex-start;
  align-self: stretch;
}
.imob-error .imob-icon {
  background-color: var(--imob-color-feedback-danger, #BD0F09) !important;
  margin: var(--imob-metric-baseline-body-default-padding-top, 6px) var(--imob-metric-space-none, 0px) var(--imob-metric-baseline-body-default-padding-bottom, 2px) var(--imob-metric-space-none, 0px);
}

.imob-number {
  display: flex;
  width: 28px;
  min-width: 28px;
  height: 28px;
  padding: 2px 0px;
  justify-content: center;
  align-items: center;
  border-radius: var(--imob-metric-border-radius-circle, 50%);
  border: var(--imob-metric-border-width-default, 2px) solid var(--imob-color-layout-text-default, #171A2B);
  color: var(--imob-color-layout-text-default, #171A2B);
}

.imob-container-fluid, .imob-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}

[class^=imob-col],
[class*=imob-col] {
  padding: 1rem;
  box-sizing: border-box;
}

.imob-container {
  max-width: 1600px;
}
.imob-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
  box-sizing: border-box;
}
.imob-row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}
.imob-col {
  flex: 1 0 0;
}
.imob-align-items-start {
  align-items: flex-start !important;
}
.imob-align-items-center {
  align-items: center !important;
}
.imob-align-items-end {
  align-items: flex-end !important;
}
.imob-align-self-start {
  align-self: flex-start !important;
}
.imob-align-self-center {
  align-self: center !important;
}
.imob-align-self-end {
  align-self: flex-end !important;
}
.imob-justify-content-start {
  justify-content: flex-start !important;
}
.imob-justify-content-center {
  justify-content: center !important;
}
.imob-justify-content-end {
  justify-content: flex-end !important;
}
.imob-justify-content-around {
  justify-content: space-around !important;
}
.imob-justify-content-between {
  justify-content: space-between !important;
}
.imob-justify-content-evenly {
  justify-content: space-evenly !important;
}

.imob-col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.imob-col-offset-1 {
  margin-left: 8.3333333333%;
}

.imob-col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.imob-col-offset-2 {
  margin-left: 16.6666666667%;
}

.imob-col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.imob-col-offset-3 {
  margin-left: 25%;
}

.imob-col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.imob-col-offset-4 {
  margin-left: 33.3333333333%;
}

.imob-col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.imob-col-offset-5 {
  margin-left: 41.6666666667%;
}

.imob-col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.imob-col-offset-6 {
  margin-left: 50%;
}

.imob-col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.imob-col-offset-7 {
  margin-left: 58.3333333333%;
}

.imob-col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.imob-col-offset-8 {
  margin-left: 66.6666666667%;
}

.imob-col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.imob-col-offset-9 {
  margin-left: 75%;
}

.imob-col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.imob-col-offset-10 {
  margin-left: 83.3333333333%;
}

.imob-col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.imob-col-offset-11 {
  margin-left: 91.6666666667%;
}

.imob-col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.imob-col-offset-12 {
  margin-left: 100%;
}

@media (min-width: 576px) {
  .imob-container {
    max-width: 96%;
  }
  .imob-col-sm-offset-0 {
    margin-left: 0;
  }
  .imob-col-sm-1 {
    width: 8.3333333333%;
  }
  .imob-col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }
  .imob-col-sm-2 {
    width: 16.6666666667%;
  }
  .imob-col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }
  .imob-col-sm-3 {
    width: 25%;
  }
  .imob-col-sm-offset-3 {
    margin-left: 25%;
  }
  .imob-col-sm-4 {
    width: 33.3333333333%;
  }
  .imob-col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }
  .imob-col-sm-5 {
    width: 41.6666666667%;
  }
  .imob-col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }
  .imob-col-sm-6 {
    width: 50%;
  }
  .imob-col-sm-offset-6 {
    margin-left: 50%;
  }
  .imob-col-sm-7 {
    width: 58.3333333333%;
  }
  .imob-col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }
  .imob-col-sm-8 {
    width: 66.6666666667%;
  }
  .imob-col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }
  .imob-col-sm-9 {
    width: 75%;
  }
  .imob-col-sm-offset-9 {
    margin-left: 75%;
  }
  .imob-col-sm-10 {
    width: 83.3333333333%;
  }
  .imob-col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }
  .imob-col-sm-11 {
    width: 91.6666666667%;
  }
  .imob-col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }
  .imob-col-sm-12 {
    width: 100%;
  }
  .imob-col-sm-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 768px) {
  .imob-container {
    max-width: 96%;
  }
  .imob-col-md-offset-0 {
    margin-left: 0;
  }
  .imob-col-md-1 {
    width: 8.3333333333%;
  }
  .imob-col-md-offset-1 {
    margin-left: 8.3333333333%;
  }
  .imob-col-md-2 {
    width: 16.6666666667%;
  }
  .imob-col-md-offset-2 {
    margin-left: 16.6666666667%;
  }
  .imob-col-md-3 {
    width: 25%;
  }
  .imob-col-md-offset-3 {
    margin-left: 25%;
  }
  .imob-col-md-4 {
    width: 33.3333333333%;
  }
  .imob-col-md-offset-4 {
    margin-left: 33.3333333333%;
  }
  .imob-col-md-5 {
    width: 41.6666666667%;
  }
  .imob-col-md-offset-5 {
    margin-left: 41.6666666667%;
  }
  .imob-col-md-6 {
    width: 50%;
  }
  .imob-col-md-offset-6 {
    margin-left: 50%;
  }
  .imob-col-md-7 {
    width: 58.3333333333%;
  }
  .imob-col-md-offset-7 {
    margin-left: 58.3333333333%;
  }
  .imob-col-md-8 {
    width: 66.6666666667%;
  }
  .imob-col-md-offset-8 {
    margin-left: 66.6666666667%;
  }
  .imob-col-md-9 {
    width: 75%;
  }
  .imob-col-md-offset-9 {
    margin-left: 75%;
  }
  .imob-col-md-10 {
    width: 83.3333333333%;
  }
  .imob-col-md-offset-10 {
    margin-left: 83.3333333333%;
  }
  .imob-col-md-11 {
    width: 91.6666666667%;
  }
  .imob-col-md-offset-11 {
    margin-left: 91.6666666667%;
  }
  .imob-col-md-12 {
    width: 100%;
  }
  .imob-col-md-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 992px) {
  .imob-container {
    max-width: 96%;
  }
  .imob-col-lg-offset-0 {
    margin-left: 0;
  }
  .imob-col-lg-1 {
    width: 8.3333333333%;
  }
  .imob-col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }
  .imob-col-lg-2 {
    width: 16.6666666667%;
  }
  .imob-col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }
  .imob-col-lg-3 {
    width: 25%;
  }
  .imob-col-lg-offset-3 {
    margin-left: 25%;
  }
  .imob-col-lg-4 {
    width: 33.3333333333%;
  }
  .imob-col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }
  .imob-col-lg-5 {
    width: 41.6666666667%;
  }
  .imob-col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }
  .imob-col-lg-6 {
    width: 50%;
  }
  .imob-col-lg-offset-6 {
    margin-left: 50%;
  }
  .imob-col-lg-7 {
    width: 58.3333333333%;
  }
  .imob-col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }
  .imob-col-lg-8 {
    width: 66.6666666667%;
  }
  .imob-col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }
  .imob-col-lg-9 {
    width: 75%;
  }
  .imob-col-lg-offset-9 {
    margin-left: 75%;
  }
  .imob-col-lg-10 {
    width: 83.3333333333%;
  }
  .imob-col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }
  .imob-col-lg-11 {
    width: 91.6666666667%;
  }
  .imob-col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }
  .imob-col-lg-12 {
    width: 100%;
  }
  .imob-col-lg-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  .imob-container {
    max-width: 96%;
  }
  .imob-col-xl-offset-0 {
    margin-left: 0;
  }
  .imob-col-xl-1 {
    width: 8.3333333333%;
  }
  .imob-col-xl-offset-1 {
    margin-left: 8.3333333333%;
  }
  .imob-col-xl-2 {
    width: 16.6666666667%;
  }
  .imob-col-xl-offset-2 {
    margin-left: 16.6666666667%;
  }
  .imob-col-xl-3 {
    width: 25%;
  }
  .imob-col-xl-offset-3 {
    margin-left: 25%;
  }
  .imob-col-xl-4 {
    width: 33.3333333333%;
  }
  .imob-col-xl-offset-4 {
    margin-left: 33.3333333333%;
  }
  .imob-col-xl-5 {
    width: 41.6666666667%;
  }
  .imob-col-xl-offset-5 {
    margin-left: 41.6666666667%;
  }
  .imob-col-xl-6 {
    width: 50%;
  }
  .imob-col-xl-offset-6 {
    margin-left: 50%;
  }
  .imob-col-xl-7 {
    width: 58.3333333333%;
  }
  .imob-col-xl-offset-7 {
    margin-left: 58.3333333333%;
  }
  .imob-col-xl-8 {
    width: 66.6666666667%;
  }
  .imob-col-xl-offset-8 {
    margin-left: 66.6666666667%;
  }
  .imob-col-xl-9 {
    width: 75%;
  }
  .imob-col-xl-offset-9 {
    margin-left: 75%;
  }
  .imob-col-xl-10 {
    width: 83.3333333333%;
  }
  .imob-col-xl-offset-10 {
    margin-left: 83.3333333333%;
  }
  .imob-col-xl-11 {
    width: 91.6666666667%;
  }
  .imob-col-xl-offset-11 {
    margin-left: 91.6666666667%;
  }
  .imob-col-xl-12 {
    width: 100%;
  }
  .imob-col-xl-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1600px) {
  .imob-container {
    max-width: 1536px;
  }
  .imob-col-xxl-offset-0 {
    margin-left: 0;
  }
  .imob-col-xxl-1 {
    width: 8.3333333333%;
  }
  .imob-col-xxl-offset-1 {
    margin-left: 8.3333333333%;
  }
  .imob-col-xxl-2 {
    width: 16.6666666667%;
  }
  .imob-col-xxl-offset-2 {
    margin-left: 16.6666666667%;
  }
  .imob-col-xxl-3 {
    width: 25%;
  }
  .imob-col-xxl-offset-3 {
    margin-left: 25%;
  }
  .imob-col-xxl-4 {
    width: 33.3333333333%;
  }
  .imob-col-xxl-offset-4 {
    margin-left: 33.3333333333%;
  }
  .imob-col-xxl-5 {
    width: 41.6666666667%;
  }
  .imob-col-xxl-offset-5 {
    margin-left: 41.6666666667%;
  }
  .imob-col-xxl-6 {
    width: 50%;
  }
  .imob-col-xxl-offset-6 {
    margin-left: 50%;
  }
  .imob-col-xxl-7 {
    width: 58.3333333333%;
  }
  .imob-col-xxl-offset-7 {
    margin-left: 58.3333333333%;
  }
  .imob-col-xxl-8 {
    width: 66.6666666667%;
  }
  .imob-col-xxl-offset-8 {
    margin-left: 66.6666666667%;
  }
  .imob-col-xxl-9 {
    width: 75%;
  }
  .imob-col-xxl-offset-9 {
    margin-left: 75%;
  }
  .imob-col-xxl-10 {
    width: 83.3333333333%;
  }
  .imob-col-xxl-offset-10 {
    margin-left: 83.3333333333%;
  }
  .imob-col-xxl-11 {
    width: 91.6666666667%;
  }
  .imob-col-xxl-offset-11 {
    margin-left: 91.6666666667%;
  }
  .imob-col-xxl-12 {
    width: 100%;
  }
  .imob-col-xxl-offset-12 {
    margin-left: 100%;
  }
}
.imob-card {
  display: flex;
  padding: var(--imob-metric-space-none, 0px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--imob-metric-space-none, 0px);
  flex-shrink: 0;
  border-radius: var(--imob-metric-border-radius-default, 4px);
  border: var(--imob-metric-border-width-light, 1px) solid var(--layout-border, #A5AAC3);
  background: var(--imob-color-layout-background-default, #FFF);
  height: 100%;
}
.imob-card--hug {
  height: auto;
}
.imob-card--hug .imob-card__container {
  height: auto;
}
.imob-card__media {
  display: flex;
  padding: 0px var(--imob-metric-space-none, 0px);
  justify-content: center;
  align-items: center;
  align-self: stretch;
}
.imob-card__media * {
  width: 100%;
  overflow: hidden;
}
.imob-card__container {
  display: flex;
  padding: var(--imob-metric-space-large, 24px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--imob-metric-space-default, 16px);
  align-self: stretch;
  height: 100%;
}
.imob-card__header {
  display: flex;
  padding: var(--imob-metric-space-none, 0px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--imob-metric-space-none, 0px);
  align-self: stretch;
}
.imob-card__body {
  display: flex;
  padding: var(--imob-metric-space-none, 0px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--imob-metric-space-small, 8px);
  align-self: stretch;
  flex: 1 1 auto;
}
.imob-card__footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: var(--imob-metric-space-default, 16px);
  align-items: flex-start;
  gap: var(--imob-metric-space-default, 16px);
  align-self: stretch;
}
.imob-card__footer .imob-btn {
  flex: 1 1 0;
  min-width: fit-content;
}
.imob-card--active {
  position: relative;
}
.imob-card--active .imob-link--stretched {
  color: var(--imob-color-action-default, #1A3DA5);
  letter-spacing: var(--imob-metric-space-none, 0px);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: var(--imob-1, 1px);
  /* 4.762% */
  text-underline-offset: var(--imob-2, 2px);
  /* 9.524% */
  text-underline-position: from-font;
}
.imob-card--active .imob-link--stretched:after {
  position: absolute;
  top: var(--imob-metric-space-none, 0px);
  right: var(--imob-metric-space-none, 0px);
  bottom: var(--imob-metric-space-none, 0px);
  left: var(--imob-metric-space-none, 0px);
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: transparent;
}
.imob-card--active .imob-link--stretched:hover {
  text-decoration-thickness: 3px;
  /* 14.286% */
}
.imob-card--active .imob-link--stretched:hover:after {
  background: var(--imob-color-action-state-indicator-tint-hover-opacity);
}
.imob-card--active .imob-link--stretched:active:after {
  background: var(--imob-color-action-state-indicator-tint-active-opacity);
}
.imob-card--active .imob-link--stretched:focus-visible {
  outline: 0;
}
.imob-card--active .imob-link--stretched:focus-visible:after {
  border-radius: var(--imob-metric-border-radius-default, 0.25rem);
  box-shadow: var(--imob-metric-space-none, 0px) var(--imob-metric-space-none, 0px) var(--imob-metric-space-none, 0px) 2px var(--imob-color-action-on-default), var(--imob-metric-space-none, 0px) var(--imob-metric-space-none, 0px) var(--imob-metric-space-none, 0px) 4px var(--imob-color-action-focus-border-inside), var(--imob-metric-space-none, 0px) var(--imob-metric-space-none, 0px) var(--imob-metric-space-none, 0px) 6px var(--imob-color-action-focus-border-outside);
}
.imob-card--small .imob-card__container {
  padding: var(--imob-metric-space-default, 16px);
  gap: var(--imob-metric-space-small, 8px);
}
.imob-card--small .imob-card__container .imob-card__header .imob-preline {
  color: var(--imob-color-layout-text-default, #171A2B);
  font-family: var(--imob-typography-font-family-default, "Fira Sans");
  font-style: normal;
  letter-spacing: var(--imob-metric-space-none, 0px);
  color: var(--imob-color-layout-text-muted, #404565);
  padding: var(--imob-metric-baseline-preline-small-padding-top, 7px) var(--imob-metric-space-none, 0px) var(--imob-metric-baseline-preline-small-padding-bottom, 1px) var(--imob-metric-space-none, 0px);
  font-size: var(--imob-typography-font-size-static-small, 16px);
  font-weight: var(--imob-typography-font-weight-regular, 400);
  line-height: var(--imob-typography-line-height-static-medium, 24px);
}
.imob-card--small .imob-card__container .imob-card__header .imob-title {
  color: var(--imob-color-layout-text-default, #171A2B);
  font-family: var(--imob-typography-font-family-default, "Fira Sans");
  font-style: normal;
  letter-spacing: var(--imob-metric-space-none, 0px);
  padding: var(--imob-metric-baseline-title-small-padding-top, 6px) var(--imob-metric-space-none, 0px) var(--imob-metric-baseline-title-small-padding-bottom, 2px) var(--imob-metric-space-none, 0px);
  font-size: var(--imob-typography-font-size-static-medium, 18px);
  font-weight: var(--imob-typography-font-weight-semi-bold, 600);
  line-height: var(--imob-typography-line-height-static-medium, 24px);
}
.imob-card--small .imob-card__container .imob-card__header .imob-subline {
  color: var(--imob-color-layout-text-default, #171A2B);
  font-family: var(--imob-typography-font-family-default, "Fira Sans");
  font-style: normal;
  letter-spacing: var(--imob-metric-space-none, 0px);
  color: var(--imob-color-layout-text-muted, #404565);
  padding: var(--imob-metric-baseline-subline-small-padding-top, 7px) var(--imob-metric-space-none, 0px) var(--imob-metric-baseline-subline-small-padding-bottom, 9px) var(--imob-metric-space-none, 0px);
  font-size: var(--imob-typography-font-size-static-small, 16px);
  font-weight: var(--imob-typography-font-weight-medium, 500);
  line-height: var(--imob-typography-line-height-static-medium, 24px);
}
.imob-card--small .imob-card__container .imob-card__body .imob-body {
  color: var(--imob-color-layout-text-default, #171A2B);
  font-family: var(--imob-typography-font-family-default, "Fira Sans");
  font-style: normal;
  letter-spacing: var(--imob-metric-space-none, 0px);
  padding: var(--imob-metric-baseline-body-small-padding-top, 7px) var(--imob-metric-space-none, 0px) var(--imob-metric-baseline-body-small-padding-bottom, 1px) var(--imob-metric-space-none, 0px);
  font-size: var(--imob-typography-font-size-static-small, 16px);
  font-weight: var(--imob-typography-font-weight-regular, 400);
  line-height: var(--imob-typography-line-height-static-medium, 24px);
}
.imob-card--large .imob-card__container {
  padding: var(--imob-metric-space-x-large, 32px);
  gap: var(--imob-metric-space-large, 24px);
}
.imob-card--large .imob-card__container .imob-card__header .imob-preline {
  color: var(--imob-color-layout-text-default, #171A2B);
  font-family: var(--imob-typography-font-family-default, "Fira Sans");
  font-style: normal;
  letter-spacing: var(--imob-metric-space-none, 0px);
  color: var(--imob-color-layout-text-muted, #404565);
  padding: var(--imob-metric-baseline-preline-large-padding-top, 1px) var(--imob-metric-space-none, 0px) var(--imob-metric-baseline-preline-large-padding-bottom, 7px) var(--imob-metric-space-none, 0px);
  font-size: var(--imob-typography-font-size-static-large, 21px);
  font-weight: var(--imob-typography-font-weight-regular, 400);
  line-height: var(--imob-typography-line-height-static-large, 32px);
}
.imob-card--large .imob-card__container .imob-card__header .imob-title {
  color: var(--imob-color-layout-text-default, #171A2B);
  font-family: var(--imob-typography-font-family-default, "Fira Sans");
  font-style: normal;
  letter-spacing: var(--imob-metric-space-none, 0px);
  padding: var(--imob-metric-baseline-title-large-padding-top, 7px) var(--imob-metric-space-none, 0px) var(--imob-metric-baseline-title-large-padding-bottom, 9px) var(--imob-metric-space-none, 0px);
  font-size: var(--imob-typography-font-size-adaptive-large, 26px);
  font-weight: var(--imob-typography-font-weight-semi-bold, 600);
  line-height: var(--imob-typography-line-height-adaptive-large, 32px);
}
.imob-card--large .imob-card__container .imob-card__header .imob-subline {
  color: var(--imob-color-layout-text-default, #171A2B);
  font-family: var(--imob-typography-font-family-default, "Fira Sans");
  font-style: normal;
  letter-spacing: var(--imob-metric-space-none, 0px);
  color: var(--imob-color-layout-text-muted, #404565);
  padding: var(--imob-metric-baseline-subline-large-padding-top, 1px) var(--imob-metric-space-none, 0px) var(--imob-metric-baseline-subline-large-padding-bottom, 7px) var(--imob-metric-space-none, 0px);
  font-size: var(--imob-typography-font-size-static-large, 21px);
  font-weight: var(--imob-typography-font-weight-medium, 500);
  line-height: var(--imob-typography-line-height-static-large, 32px);
}
.imob-card--large .imob-card__container .imob-card__body .imob-body {
  color: var(--imob-color-layout-text-default, #171A2B);
  font-family: var(--imob-typography-font-family-default, "Fira Sans");
  font-style: normal;
  letter-spacing: var(--imob-metric-space-none, 0px);
  padding: var(--imob-metric-baseline-body-large-padding-top, 1px) var(--imob-metric-space-none, 0px) var(--imob-metric-baseline-body-large-padding-bottom, 7px) var(--imob-metric-space-none, 0px);
  font-size: var(--imob-typography-font-size-static-large, 21px);
  font-weight: var(--imob-typography-font-weight-regular, 400);
  line-height: var(--imob-typography-line-height-static-large, 32px);
}

.imob-heading-display {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  color: var(--imob-color-layout-text-default, #171A2B);
  font-family: var(--imob-typography-font-family-default, "Fira Sans");
  font-style: normal;
  letter-spacing: var(--imob-metric-space-none, 0px);
  padding: var(--imob-metric-baseline-heading-display-padding-top, 12px) var(--imob-metric-space-none, 0px) var(--imob-metric-baseline-heading-display-padding-bottom, 12px) var(--imob-metric-space-none, 0px);
  font-size: var(--imob-typography-font-size-adaptive-2x-large, 48px);
  font-weight: var(--imob-typography-font-weight-medium, 500);
  line-height: var(--imob-typography-line-height-adaptive-2x-large, 56px);
}

.imob-heading-x-large {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  color: var(--imob-color-layout-text-default, #171A2B);
  font-family: var(--imob-typography-font-family-default, "Fira Sans");
  font-style: normal;
  letter-spacing: var(--imob-metric-space-none, 0px);
  padding: var(--imob-metric-baseline-heading-x-large-padding-top, 9px) var(--imob-metric-space-none, 0px) var(--imob-metric-baseline-heading-x-large-padding-bottom, 7px) var(--imob-metric-space-none, 0px);
  font-size: var(--imob-typography-font-size-adaptive-x-large, 32px);
  font-weight: var(--imob-typography-font-weight-medium, 500);
  line-height: var(--imob-typography-line-height-adaptive-x-large, 40px);
}

.imob-heading-large {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  color: var(--imob-color-layout-text-default, #171A2B);
  font-family: var(--imob-typography-font-family-default, "Fira Sans");
  font-style: normal;
  letter-spacing: var(--imob-metric-space-none, 0px);
  padding: var(--imob-metric-baseline-heading-large-padding-top, 7px) var(--imob-metric-space-none, 0px) var(--imob-metric-baseline-heading-large-padding-bottom, 9px) var(--imob-metric-space-none, 0px);
  font-size: var(--imob-typography-font-size-adaptive-large, 26px);
  font-weight: var(--imob-typography-font-weight-semi-bold, 600);
  line-height: var(--imob-typography-line-height-adaptive-large, 32px);
}

.imob-heading-medium {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  color: var(--imob-color-layout-text-default, #171A2B);
  font-family: var(--imob-typography-font-family-default, "Fira Sans");
  font-style: normal;
  letter-spacing: var(--imob-metric-space-none, 0px);
  padding: var(--imob-metric-baseline-heading-medium-padding-top, 5px) var(--imob-metric-space-none, 0px) var(--imob-metric-baseline-heading-medium-padding-bottom, 3px) var(--imob-metric-space-none, 0px);
  font-size: var(--imob-typography-font-size-adaptive-medium, 21px);
  font-weight: var(--imob-typography-font-weight-semi-bold, 600);
  line-height: var(--imob-typography-line-height-adaptive-medium, 24px);
}

.imob-heading-small {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  color: var(--imob-color-layout-text-default, #171A2B);
  font-family: var(--imob-typography-font-family-default, "Fira Sans");
  font-style: normal;
  letter-spacing: var(--imob-metric-space-none, 0px);
  padding: var(--imob-metric-baseline-heading-small-padding-top, 6px) var(--imob-metric-space-none, 0px) var(--imob-metric-baseline-heading-small-padding-bottom, 2px) var(--imob-metric-space-none, 0px);
  font-size: var(--imob-typography-font-size-static-medium, 18px);
  font-weight: var(--imob-typography-font-weight-semi-bold, 600);
  line-height: var(--imob-typography-line-height-static-medium, 24px);
}

/*# sourceMappingURL=index.css.map */
