// ############### FONT ###############
:root {
    /* primitive-font-familiy */
    --imob-typography-font-family-fira-sans: Fira Sans;
    --imob-typography-font-family-fira-mono: Fira Mono;

    /* primitive-font-size */
    --imob-font-size-12: 0.75rem;
    --imob-font-size-16: 1rem;
    --imob-font-size-18: 1.125rem;
    --imob-font-size-20: 1.25rem;
    --imob-font-size-21: 1.3125rem;
    --imob-font-size-24: 1.5rem;
    --imob-font-size-26: 1.625rem;
    --imob-font-size-32: 2rem;
    --imob-font-size-40: 2.5rem;
    --imob-font-size-48: 3rem;
    --imob-font-size-56: 3.5rem;
    --imob-font-size-72: 4.5rem;
    --imob-font-size-80: 5rem;
}