// ############### SIZES ###############
:root {
    /* primitive-number */
    --imob-0: 0rem;
    --imob-1: 0.0625rem; // new
    --imob-2: 0.125rem;
    --imob-3: 0.1875rem; // new
    --imob-4: 0.25rem;
    --imob-5: 0.3125rem; // new
    --imob-6: 0.375rem; // new
    --imob-7: 0.4375rem; // new
    --imob-8: 0.5rem;
    --imob-9: 0.5625rem; // new
    --imob-10: 0.625rem; // new
    --imob-14: 0.875rem; // new
    --imob-12: 0.75rem;
    --imob-16: 1rem;
    --imob-18: 1.125rem; // new
    --imob-20: 1.25rem;
    --imob-24: 1.5rem;
    --imob-32: 2rem;
    --imob-40: 2.5rem;
    --imob-48: 3rem;
    --imob-56: 3.5rem;
    --imob-64: 4rem;
    --imob-80: 5rem;
    --imob-96: 6rem;
    --imob-128: 8rem;
    --imob-160: 10rem;
    --imob-192: 12rem;
    --imob-224: 14rem;
    --imob-240: 15rem;
    --imob-256: 16rem;
    --imob-352: 22rem;
    --imob-360: 22.5rem;
    --imob-384: 24rem;
    --imob-480: 30rem;
    --imob-512: 32rem;
    --imob-736: 46rem;
    --imob-768: 48rem;
    --imob-992: 62rem;
    --imob-1024: 64rem;
    --imob-1140: 71.25rem;
    --imob-1248: 78rem;
    --imob-1280: 80rem;
    --imob-1504: 94rem;
    --imob-1536: 96rem;
    --imob-1600: 100rem;
    --imob-1920: 120rem;
}