@import "tailwindcss";
@import "./global.scss";

:root {
  --font-display:
    Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
}

body {
  font-family: var(--font-display), serif;
}
